<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ailin.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.ailin.model.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <result column="visibility" property="visibility" jdbcType="TINYINT" />
    <result column="from_id" property="fromId" jdbcType="INTEGER" />
    <result column="to_id" property="toId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, last_update, visibility, from_id, to_id, content, `type`
  </sql>
  <select id="selectByToid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_message
    where to_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ailin.model.Message" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_message (create_time, last_update, visibility, 
      from_id, to_id, content, 
      `type`)
    values (#{createTime,jdbcType=TIMESTAMP}, #{lastUpdate,jdbcType=TIMESTAMP}, #{visibility,jdbcType=TINYINT}, 
      #{fromId,jdbcType=INTEGER}, #{toId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ailin.model.Message" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      create_time,
      last_update,
      visibility,
      from_id,
      to_id,
      content,
      `type`,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{createTime,jdbcType=TIMESTAMP},
      #{lastUpdate,jdbcType=TIMESTAMP},
      #{visibility,jdbcType=TINYINT},
      #{fromId,jdbcType=INTEGER},
      #{toId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR},
      #{type,jdbcType=TINYINT},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ailin.model.Message" >
    update tb_message
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="visibility != null" >
        visibility = #{visibility,jdbcType=TINYINT},
      </if>
      <if test="fromId != null" >
        from_id = #{fromId,jdbcType=INTEGER},
      </if>
      <if test="toId != null" >
        to_id = #{toId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ailin.model.Message" >
    update tb_message
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      visibility = #{visibility,jdbcType=TINYINT},
      from_id = #{fromId,jdbcType=INTEGER},
      to_id = #{toId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>